.info-header
    width: 100%
    background-color: $dark-green
    position: absolute
    top: 0
    z-index: 99999
    .info-header-inner
        color: white
        margin: auto
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        justify-content: center
        max-width: 1224px
        padding: 6px 0px
        p
            text-align: center
            width: 100%
            font-size: 15px
            font-size: 14px
            margin: 0
            line-height: 110%
            a
                color: white
                font-weight: bold
                opacity: 1
                transition: all ease 0.3s
                &:hover
                    opacity: 0.8

@media (min-width: 760px)
    .info-header
        // width: 100%
        // background-color: $dark-green
        // position: absolute
        // top: 0
        .info-header-inner
            // color: white
            // margin: auto
            // width: 100%
            // display: flex
            flex-wrap: nowrap
            justify-content: space-between
            // justify-content: center
            // max-width: 1224px
            padding: 10px 44px
            box-sizing: border-box
            p
                text-align: inherit
                width: auto
                font-size: 15px
                a
                    color: white

@media (min-width: 1024px)
    .info-header
        .info-header-inner
            padding: 10px 50px
            p
                a

@media (min-width: 1200px)
    .info-header
        .info-header-inner
            padding: 10px 0px
            max-width: 1040px
            max-width: 1090px
            p
                a

@media (min-width: 1440px)
    .info-header
        .info-header-inner
            padding: 10px 0px
            max-width: 1100px
            p
                a
@media (min-width: 1600px)
    .info-header
        .info-header-inner
            padding: 10px 0px
            max-width: 1200px
            p
                a
    
header
    width: 100%
    height: 100px
    position: absolute
    overflow: hidden
    box-sizing: border-box
    top: 0
    z-index: 999
    transition: all ease-in-out 0.3s
    &.on-down
        position: fixed
        background: white
        height: 72px
        .header-inner
            padding-top: 22px
            padding-bottom: 24px 
    .header-inner
        overflow: hidden
        width: 100%
        height: 100%
        box-sizing: border-box
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        align-content: space-between
        padding-top: 34px
        padding-top: 54px
        padding-top: 66px
        a.logo
            img
                width: 130px
        div.buttons
            width: 100%
            opacity: 0
            visibility: hidden
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            a
                width: 100%
                text-align: center
                font-weight: 700
                padding: 12px 0
                &.button-plan-prueba
                    background-color: #F66F03
                    border: none
                    color: white
            &.open-buttons
                padding-top: 0
                opacity: 1
                visibility: visible
            a.button
                font-weight: 600
                margin-bottom:  10px
                &.left
        .menu-wrapper
            width: 100%
            opacity: 0
            visibility: hidden
            &.open-menu
                opacity: 1
                visibility: visible
            div.menu
                // display: block
                width: 100%
                text-align: center
                a.menuu
                    display: block
                    margin: 16px 0
                    font-weight: 600
                    outline: none
                    font-size: 19px
                    transition: all ease 0.3s
                    &:last-child
                        padding-bottom: 0px
                    &:hover
                        color: $dark-green
        .hamburger
    &.is-fixed
        height: 100vh !important
        background: white
        .header-inner
            padding-bottom: 26px
    
@media (min-width: 768px)
    header
        &.on-down
            .header-inner
                // padding-top: 24px
                padding-bottom: 0
        .header-inner
            // padding-top: 44px
            padding-top: 58px
            padding-top: 64px
            a.logo
                img
                    width: 130px
            div.buttons
                div.menu
                    a
            .hamburger
            div.buttons
                &.open-buttons
                a.button
                    &.left
        &.is-fixed
            .header-inner
                div.menu
                    a.menuu

@media (min-width: 1024px)
    header
        height: 116px
        &.on-down
            height: 84px
            // height: 88px
            .header-inner
                padding-top: 0px
        .header-inner
            padding-top: 32px
            // padding-top: 48px
            // padding-top: 52px
            padding-top: 60px
            flex-wrap: nowrap
            a.logo
                img
            .hamburger
                display: none
            div.buttons
                width: auto
                opacity: 1
                visibility: visible
                flex-wrap: nowrap
                a.button
                    padding: 10px 17px
                    font-size: 14px
                    margin-bottom: 0
                    &.left
                        margin-left: 8px
                a
                    width: auto
            .menu-wrapper
                width: auto
                opacity: 1
                visibility: visible
                &.open-menu
                    opacity: 1
                    visibility: visible
                div.menu
                    display: flex
                    a.menuu
                        margin: 0 20px
                        display: inherit
                        font-size: 16px
                        &:last-child

@media (min-width: 1200px)
    header
        height: 120px
        &.on-down
            .header-inner
        .header-inner
            max-width: 1224px
            max-width: 1280px
            // max-width: 1260px
            a.logo
                img
                    width: 130px
            .hamburger
            div.buttons
                margin-right: -10px
                a.button
                    // padding: 10px 14px
                    &.left
                a
            .menu-wrapper
                &.open-menu
                div.menu
                    a.menuu
                        margin: 0 28px
                        // font-size: 16px
                        &:last-child


@media (min-width: 1440px)
    header
        .header-inner
            padding-top: 48px
            max-width: 1360px
            a.logo
                img
            .hamburger
            div.buttons
                a.button
                    &.left

@media (min-width: 1600px)
    header
        width: 100%
        position: absolute
        top: 0
        z-index: 999
        transition: all ease-in-out 0.3s
        &.on-down
            position: fixed
            background: white
            .header-inner
                padding-top: 24px
                padding-bottom: 24px
        .header-inner
            width: 100%
            box-sizing: border-box
            display: flex
            justify-content: space-between
            align-items: center
            padding-top: 56px
            max-width: 1200px
            a.logo
                img
                    width: 149px
            div.buttons
                font-weight: bold
                div.menu
                    a
                        margin-right: 45px
                        width: 100%
            .hamburger
                display: none
            div.buttons
                margin-right: 0
                a.button

                    &.left