section.cta {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.132) 0%, rgba(0, 0, 0, 0.4) 50.34%, rgba(0, 0, 0, 0.228) 100%), url(back_2.jpg), #589E2F;
  background-size: cover;
}
section.cta div.cta-inner {
  height: 497px;
}
section.cta div.cta-inner h1 {
  color: white;
  text-align: center;
  margin-bottom: 32px;
  line-height: 120%;
  margin-left: 300px;
  margin-right: 300px;
}
section.cta div.cta-inner a.button::after {
  color: white;
}

section.cta {
  background-image: url("../images/campo-2.jpg");
  background-size: cover;
  background-position: center;
}
section.cta div.cta-inner {
  height: 497px;
  text-align: center;
}
section.cta div.cta-inner h1 {
  color: white;
  padding-top: 85px;
  margin-bottom: 49px;
  line-height: 120%;
  margin-left: 0px;
  margin-right: 0px;
}
section.cta div.cta-inner a.button::after {
  color: white;
}