/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
  color: #005377;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

/* import  */
header .header-inner {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
header .header-inner a.logo img {
  width: 149px;
}
header .header-inner div.buttons a.button.left {
  margin-left: 5px;
}

/* Phone */
@media (max-width: 425px) {
  header {
    /* Tablet */
  }
  header .header-inner .logo img {
    margin-left: -80px;
  }
  header .header-inner .buttons {
    display: flex;
    margin-left: 15px;
  }
}
/* Screen PC */                   
section.equipo div.equipo-inner img.hoja {
  position: absolute;
  width: 147.95px;
  height: 150px;
  margin-left: 450px;
  margin-top: -30px;
}
section.equipo div.equipo-inner h2 {
  position: relative;
  color: #005377;
  font-weight: 700;
  width: 509px;
  height: 93px;
  margin-top: 141px;
  margin-left: 350px;
  margin-right: 566px;
  line-height: 120%;
}
section.equipo div.equipo-inner div.personas {
  display: flex;
  margin: 20px;
}
section.equipo div.equipo-inner div.personas div.persona {
  position: relative;
  margin-right: 350px;
}
section.equipo div.equipo-inner div.personas div.persona div.img img {
  width: 220px;
  height: 285px;
  border-radius: 4px;
}
section.equipo div.equipo-inner div.personas div.persona div.data {
  position: absolute;
  color: white;
  top: 40px;
  box-shadow: 7px 10px 30px rgba(13, 93, 86, 0.12);
  left: 180px;
}
section.equipo div.equipo-inner div.personas div.persona h5 {
  color: #85CB33;
  line-height: 130%;
  margin-left: 62px;
}
section.equipo div.equipo-inner div.personas div.persona p.description {
  color: #005377;
  font-weight: 600;
  line-height: 105%;
  margin-bottom: 19px;
  width: 189px;
  height: 34px;
}
section.equipo div.equipo-inner div.personas div.persona p {
  color: #373737;
  margin-left: 62px;
  margin-right: 62px;
  width: 189px;
  height: 165px;
}
section.equipo div.equipo-inner div.personas div.persona div.rrss {
  display: flex;
}
section.equipo div.equipo-inner div.personas div.persona div.rrss a img {
  width: 20px;
  height: 20px;
  margin-left: 65px;
  margin-right: -55px;
}

@media (max-width: 768px) {
  section.equipo div.equipo-inner {
    height: 900px;
  }
  section.equipo div.equipo-inner img.hoja {
    margin-left: 146px;
    margin-top: -11px;
  }
  section.equipo div.equipo-inner h2 {
    width: 100%;
    height: 131px;
    margin-top: 63px;
    margin-left: 38px;
  }
  section.equipo div.equipo-inner div.personas {
    display: block;
    margin: 20px;
  }
  section.equipo div.equipo-inner div.personas div.persona {
    position: relative;
    margin-right: 450px;
    margin-left: -109px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.img img {
    width: 163px;
    height: 201px;
    margin-bottom: 193px;
    margin-left: 135px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.data {
    margin-left: 59px;
    width: 272px;
    top: 10px;
    left: 190px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.rrss {
    margin-bottom: 10px;
  }
}
@media (max-width: 425px) {
  section.equipo div.equipo-inner {
    height: 900px;
  }
  section.equipo div.equipo-inner img.hoja {
    position: absolute;
    width: 147.95px;
    height: 150px;
    margin-left: 0px;
    margin-top: -11px;
  }
  section.equipo div.equipo-inner h2 {
    position: relative;
    color: #005377;
    font-weight: 700;
    width: 350px;
    height: 131px;
    margin-top: 63px;
    margin-left: -58px;
    line-height: 120%;
  }
  section.equipo div.equipo-inner div.personas {
    display: block;
    margin: 20px;
  }
  section.equipo div.equipo-inner div.personas div.persona {
    position: relative;
    margin-right: 450px;
    margin-left: -109px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.img img {
    width: 163px;
    height: 201px;
    border-radius: 4px;
    margin-bottom: 174px;
    margin-left: -19px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.data {
    margin-left: 59px;
    width: 272px;
    position: absolute;
    color: white;
    top: 10px;
    box-shadow: 7px 10px 30px rgba(13, 93, 86, 0.12);
    left: 44px;
  }
  section.equipo div.equipo-inner div.personas div.persona h5 {
    color: #85CB33;
    line-height: 130%;
    margin-left: 65px;
  }
  section.equipo div.equipo-inner div.personas div.persona p.description {
    color: #005377;
    font-weight: 600;
    line-height: 105%;
    margin-bottom: 19px;
    width: 189px;
    height: 34px;
  }
  section.equipo div.equipo-inner div.personas div.persona p {
    color: #373737;
    margin-left: 56px;
    width: 189px;
    height: 165px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.rrss {
    display: flex;
    margin-left: -10px;
  }
  section.equipo div.equipo-inner div.personas div.persona div.rrss a img {
    width: 20px;
    height: 20px;
    margin-left: 65px;
    margin-right: -55px;
  }
}