header .header-inner {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
header .header-inner a.logo img {
  width: 149px;
}
header .header-inner div.buttons a.button.left {
  margin-left: 5px;
}

/* Phone */
@media (max-width: 425px) {
  header {
    /* Tablet */
  }
  header .header-inner .logo img {
    margin-left: -80px;
  }
  header .header-inner .buttons {
    display: flex;
    margin-left: 15px;
  }
}
/* Screen PC */                   