/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
  color: #005377;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

section.hectareas {
  background-image: url("../images/back-lines-5png");
  background: rotate(-180deg);
  text-align: center;
  margin-top: 5%;
}
section.hectareas div img.hoja {
  position: absolute;
  margin-top: -60px;
  width: 140px;
  height: 150px;
  left: 625px;
}
section.hectareas div h2 {
  position: relative;
  color: #005377;
}
section.hectareas div.items {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
section.hectareas div.items div.item {
  background-color: white;
  width: 180px;
  height: 178px;
  margin-right: 4%;
  text-align: center;
  align-items: center;
  margin-top: 2%;
}
section.hectareas div.items div.item img {
  margin-top: 30px;
  width: 45px;
  height: 48px;
}
section.hectareas div.items div.item p {
  margin-top: -15%;
  font-weight: 700;
}
section.hectareas div.items div.itemm {
  background-color: white;
  width: 180px;
  height: 178px;
  margin-right: 4%;
  text-align: center;
  align-items: center;
}
section.hectareas div.items div.itemm img {
  margin-top: 30px;
  width: 45px;
  height: 48px;
}
section.hectareas div.items div.itemm p {
  margin-top: -20%;
  font-weight: 700;
}

@media (max-width: 768px) {
  section.hectareas {
    background-image: url("../images/back-lines-5png");
    background: rotate(-180deg);
    text-align: center;
    margin-top: 5%;
  }
  section.hectareas div img.hoja {
    position: absolute;
    margin-top: -26px;
    width: 140px;
    height: 150px;
    left: 321px;
  }
  section.hectareas div h2 {
    position: relative;
    color: #005377;
  }
  section.hectareas div.items {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  section.hectareas div.items div.item {
    background-color: white;
    width: 180px;
    height: 178px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
    margin-top: 2%;
  }
  section.hectareas div.items div.item img {
    margin-top: 30px;
    width: 45px;
    height: 48px;
  }
  section.hectareas div.items div.item p {
    margin-top: -15%;
    font-weight: 700;
  }
  section.hectareas div.items div.itemm {
    background-color: white;
    width: 180px;
    height: 178px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
  }
  section.hectareas div.items div.itemm img {
    margin-top: 30px;
    width: 45px;
    height: 48px;
  }
  section.hectareas div.items div.itemm p {
    margin-top: -20%;
    font-weight: 700;
  }
}
@media (max-width: 425px) {
  section.hectareas {
    text-align: center;
    margin-top: 5%;
  }
  section.hectareas div img.hoja {
    position: absolute;
    margin-top: 32px;
    width: 140px;
    height: 147px;
    left: 140px;
  }
  section.hectareas div h2 {
    position: relative;
    color: #005377;
  }
  section.hectareas div.items {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  section.hectareas div.items div.item {
    background-color: white;
    width: 180px;
    height: 178px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
    margin-top: 6%;
  }
  section.hectareas div.items div.item img {
    margin-top: 30px;
    width: 45px;
    height: 48px;
  }
  section.hectareas div.items div.item p {
    margin-top: -15%;
    font-weight: 700;
  }
  section.hectareas div.items div.itemm {
    background-color: white;
    width: 180px;
    height: 178px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
  }
  section.hectareas div.items div.itemm img {
    margin-top: 30px;
    width: 45px;
    height: 48px;
  }
  section.hectareas div.items div.itemm p {
    margin-top: -20%;
    font-weight: 700;
  }
}
@media (max-width: 1920px) and (min-width: 769px) {
  section.hectareas div img.hoja {
    position: absolute;
    margin-top: -20px;
    width: 140px;
    height: 147px;
    left: 886px;
  }
  section.hectareas div h2 {
    position: relative;
    color: #005377;
    font-size: 63px;
  }
  section.hectareas div.items {
    display: flex;
    justify-content: center;
    margin-top: 88px;
  }
  section.hectareas div.items div.item {
    background-color: white;
    width: 313px;
    height: 285px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
    margin-top: 6%;
  }
  section.hectareas div.items div.item img {
    margin-top: 30px;
    width: 81px;
    height: auto;
  }
  section.hectareas div.items div.item h5 {
    font-size: 37px;
  }
  section.hectareas div.items div.item p {
    margin-top: 0px auto;
    font-weight: 700;
    font-size: 20px;
  }
  section.hectareas div.items div.itemm {
    background-color: white;
    width: 313px;
    height: 285px;
    margin-right: 4%;
    text-align: center;
    align-items: center;
  }
  section.hectareas div.items div.itemm img {
    margin-top: 30px;
    width: 81px;
    height: auto;
  }
  section.hectareas div.items div.itemm h5 {
    font-size: 37px;
  }
  section.hectareas div.items div.itemm p {
    margin-top: 0px auto;
    font-weight: 700;
    font-size: 20px;
  }
}