/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
  color: #005377;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

section.planes-wrapper {
  background-image: url("../images/back-lines-2.png");
  background-size: cover;
}
section.planes-wrapper div.planes-inner h2 {
  color: #85CB33;
  text-align: center;
  margin-top: 121px;
}
section.planes-wrapper div.planes-inner h2 span {
  color: #005377;
}
section.planes-wrapper div.planes-inner div.items {
  display: flex;
}
section.planes-wrapper div.planes-inner div.items div.item {
  background-color: white;
  width: 340px;
  height: 542px;
  margin: 1%;
}
section.planes-wrapper div.planes-inner div.items div.item div.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.planes-wrapper div.planes-inner div.items div.item div.header img {
  width: 24px;
  height: 24px;
  margin-right: 5%;
}
section.planes-wrapper div.planes-inner div.items div.item div.header h3 {
  font-weight: 700;
  margin-bottom: 32px;
  color: #005377;
}
section.planes-wrapper div.planes-inner div.items div.item div.checks {
  margin-left: 36px;
  margin-right: 36px;
}
section.planes-wrapper div.planes-inner div.items div.item div.checks div.check {
  display: flex;
}
section.planes-wrapper div.planes-inner div.items div.item div.checks div.check img {
  width: 20px;
  height: 10%;
  margin-right: 14px;
  margin-bottom: 50px;
}
section.planes-wrapper div.planes-inner div.items div.item div.checks div.check p {
  margin-top: -5px;
}
section.planes-wrapper div.planes-inner div.items div.item h4 {
  color: #005377;
  text-align: center;
}
section.planes-wrapper div.planes-inner div.items div.item div a.button {
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1920px) and (min-width: 769px) {
  section.planes-wrapper div.planes-inner h2 {
    font-size: 63px;
  }
  section.planes-wrapper div.planes-inner div.items {
    display: flex;
  }
  section.planes-wrapper div.planes-inner div.items div.item {
    background-color: white;
    width: 521px;
    height: 649px;
    margin-left: 0px auto;
    margin-bottom: 10px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header img {
    width: 46px;
    height: auto;
    margin-right: 5%;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header h3 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #005377;
    font-size: 51px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks {
    margin-left: 36px;
    margin-right: 36px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check {
    display: flex;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check img {
    width: 38px;
    height: auto;
    margin-right: 14px;
    margin-bottom: 50px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check p {
    margin-top: -5px;
    font-size: 27px;
  }
  section.planes-wrapper div.planes-inner div.items div.item h4 {
    color: #005377;
    text-align: center;
    font-size: 39px;
    margin-top: 13px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div a.button {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  section.planes-wrapper div.planes-inner div.items {
    display: block;
    margin-left: 81px;
  }
  section.planes-wrapper div.planes-inner div.items div.item {
    background-color: white;
    width: 80%;
    height: 478;
    margin-left: 0px auto;
    margin-bottom: 10px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header img {
    width: 24px;
    height: 24px;
    margin-right: 5%;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header h3 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #005377;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks {
    margin-left: 36px;
    margin-right: 36px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check {
    display: flex;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check img {
    width: 20px;
    height: 10%;
    margin-right: 14px;
    margin-bottom: 50px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check p {
    margin-top: -5px;
  }
  section.planes-wrapper div.planes-inner div.items div.item h4 {
    color: #005377;
    text-align: center;
  }
  section.planes-wrapper div.planes-inner div.items div.item div a.button {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 425px) {
  section.planes-wrapper {
    margin-top: -51px;
  }
  section.planes-wrapper div.planes-inner h2 {
    color: #85CB33;
    text-align: center;
    margin-top: 121px;
  }
  section.planes-wrapper div.planes-inner h2 span {
    color: #005377;
  }
  section.planes-wrapper div.planes-inner div.items {
    display: block;
    margin-left: 0px !important;
  }
  section.planes-wrapper div.planes-inner div.items div.item {
    background-color: white;
    width: 340px;
    height: 478;
    margin-left: -72px;
    margin-bottom: 10px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header img {
    width: 24px;
    height: 24px;
    margin-right: 5%;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.header h3 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #005377;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks {
    margin-left: 36px;
    margin-right: 36px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check {
    display: flex;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check img {
    width: 20px;
    height: 10%;
    margin-right: 14px;
    margin-bottom: 50px;
  }
  section.planes-wrapper div.planes-inner div.items div.item div.checks div.check p {
    margin-top: -5px;
  }
  section.planes-wrapper div.planes-inner div.items div.item h4 {
    color: #005377;
    text-align: center;
  }
  section.planes-wrapper div.planes-inner div.items div.item div a.button {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}