/* set  */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #F7FCF9;
  font-size: 15px;
}

/* Fuentes */
p {
  line-height: 135%;
}

h1 {
  font-size: 42px;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 38px;
  line-height: 105%;
  font-weight: 700;
  color: #005377;
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 700;
}

h4 {
  font-size: 28px;
  line-height: 115%;
  font-weight: 700;
}

h5 {
  font-size: 22px;
  line-height: 110%;
  font-weight: 700;
}

h6 {
  font-size: 17px;
  line-height: 110%;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #373737;
}

/* colores */
.color-green {
  color: #85CB33;
}

/* botones */
.button {
  border-radius: 4px;
  background-color: #5FAE31;
  padding: 11px 20px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  border: solid 1px #5FAE31;
}
.button.outline {
  background-color: transparent;
  border: solid 1px #373737;
  color: #373737;
}

/* paddings */
.paddings-l-r {
  padding-left: 112px;
  padding-right: 112px;
}

/* Notebook*/
section.the-webapp {
  background-image: url("../images/back-lines-3.png");
  background-size: cover;
}
section.the-webapp div.the-webapp-inner {
  display: flex;
  align-content: center;
}
section.the-webapp div.the-webapp-inner div.data {
  align-content: center;
  width: 407px;
  height: 314px;
  margin-left: 96px;
}
section.the-webapp div.the-webapp-inner div.data h3 {
  width: 407px;
  height: 113px;
  color: #005377;
}
section.the-webapp div.the-webapp-inner div.data div.checks {
  margin-bottom: 13px;
}
section.the-webapp div.the-webapp-inner div.data div.checks div.check {
  display: flex;
  align-items: center;
}
section.the-webapp div.the-webapp-inner div.data div.checks div.check img {
  width: 20px;
  height: 15px;
}
section.the-webapp div.the-webapp-inner div.data div.checks div.check p {
  margin-bottom: 5px;
}
section.the-webapp div.the-webapp-inner div.img img {
  width: 596px;
  height: 443px;
  margin-right: 128px;
}

@media (max-width: 768px) {
  section.the-webapp div.the-webapp-inner .data {
    align-content: center;
    height: 314px;
  }
  section.the-webapp div.the-webapp-inner .data.data {
    margin-left: -95px;
  }
  section.the-webapp div.the-webapp-inner .data h3 {
    width: 288px !important;
    height: 156px !important;
    color: #005377;
  }
  section.the-webapp div.the-webapp-inner .data div.checks {
    margin-bottom: 13px;
  }
  section.the-webapp div.the-webapp-inner .data div.checks div.check {
    display: flex;
    align-items: center;
  }
  section.the-webapp div.the-webapp-inner .data div.checks div.check img {
    width: 20px;
    height: 15px;
  }
  section.the-webapp div.the-webapp-inner .data div.checks div.check p {
    margin-bottom: 5px;
  }
  section.the-webapp div.the-webapp-inner div.img img {
    width: 501px;
    height: 428px;
  }

  /* Phone*/   
}
@media (max-width: 425px) {
  section.the-webapp div.the-webapp-inner div.data {
    margin-left: -90px !important;
    margin-top: 380px !important;
  }
  section.the-webapp div.the-webapp-inner div.img {
    display: block;
  }
  section.the-webapp div.the-webapp-inner div.img img {
    margin-left: -336px;
    height: 443px;
    width: 449px;
    margin-top: 764px;
  }
}